*.csv filter=lfs diff=lfs merge=lfs -text
segmentation_models/resnet34/channels256/img256/resnet34_best_model_epoch1230.pt filter=lfs diff=lfs merge=lfs -text
segmentation_models/resnet34/channels256/img256/resnet34_test_results_epoch1230.zip filter=lfs diff=lfs merge=lfs -text
segmentation_models/resnet34/log_test_results_resnet34.txt filter=lfs diff=lfs merge=lfs -text
ecology_semantic_segmentation/dataset/fish/gt_hsv_thresholds/ filter=lfs diff=lfs merge=lfs -text
segmentation_models/resnet50/channels256/img256/resnet50_best_model_epoch2220.pt filter=lfs diff=lfs merge=lfs -text
segmentation_models/resnet50/log_test_results_resnet50.txt filter=lfs diff=lfs merge=lfs -text
segmentation_models/resnet50/channels256 filter=lfs diff=lfs merge=lfs -text
segmentation_models/resnet50/channels256/img256/resnet50_test_results_epoch2220.zip filter=lfs diff=lfs merge=lfs -text
segmentation_models/deeplabv3plus/channels256 filter=lfs diff=lfs merge=lfs -text
segmentation_models/deeplabv3plus/log_test_results_deeplabv3plus.txt filter=lfs diff=lfs merge=lfs -text
segmentation_models/deeplabv3plus/channels256/img256/deeplabv3plus_best_model_epoch700.pt filter=lfs diff=lfs merge=lfs -text
segmentation_models/deeplabv3plus/channels256/img256/deeplabv3_test_results_epoch700.zip filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/ filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/deeplabv3plus filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/log_test_results_deeplabv3.txt filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/deeplabv3plus/channels256 filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/deeplabv3plus/log_multiclass_deeplab.txt filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/deeplabv3plus/channels256/img256 filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/deeplabv3plus/channels256/img256/deeplabv3_test_results_epoch350.zip filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/deeplabv3plus/channels256/img256/deeplabv3_test_results_epoch500.zip filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/deeplabv3plus/channels256/img256/deeplabv3plus_best_model_epoch350.pt filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/deeplabv3plus/channels256/img256/deeplabv3plus_best_model_epoch500.pt filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/deeplabv3plus/channels256/img256/deeplabv3plus_best_model_epoch1210.pt filter=lfs diff=lfs merge=lfs -text
segmentation_models/multiclass/wholebody_ventralside_dorsalside/deeplabv3plus/channels256/img256/deeplabv3_test_results_epoch1210.zip filter=lfs diff=lfs merge=lfs -text
