fish_segmentation_whole_body/ filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/deeplabv3plus filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet34 filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet50 filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet34/log_test_results_resnet34.txt filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet50/channels256 filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet50/log_test_results_resnet50.txt filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/deeplabv3plus/channels256 filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet34/channels256 filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/deeplabv3plus/channels256/img256 filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet34/channels256/img256 filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet50/channels256/img256 filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet34/channels256/img256/resnet34_best_model_epoch1230.pt filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet34/channels256/img256/resnet34_test_results_epoch1230.zip filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet50/channels256/img256/resnet50_best_model_epoch2220.pt filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/resnet50/channels256/img256/resnet50_test_results_epoch2220.zip filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/deeplabv3plus/channels256/img256/deeplabv3plus_best_model_epoch700.pt filter=lfs diff=lfs merge=lfs -text
fish_segmentation_whole_body/deeplabv3plus/channels256/img256/deeplabv3_test_results_epoch700.zip filter=lfs diff=lfs merge=lfs -text
